In [7]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
spark = SparkSession.builder.appName('jupyterapp').getOrCreate()

In [2]:
df_input_text = spark.createDataFrame([(1, "I have an orange."), (2, "I like an apple.")], ["text_id", "raw_text"])

In [12]:
df_output_text_length = df_input_text.select("text_id", F.length("raw_text").alias("text_length"))
df_output_text_length.toPandas()

   text_id  text_length
0        1           17
1        2           16

In [13]:
df_input_text.join(df_output_text_length, "text_id", "left").select("text_id", "raw_text", "text_length").toPandas()

   text_id           raw_text  text_length
0        1  I have an orange.           17
1        2   I like an apple.           16