In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('jupyterapp').enableHiveSupport().getOrCreate()
spark.catalog.listTables()

[Table(name='input_text', database='default', description=None, tableType='MANAGED', isTemporary=False)]

In [2]:
spark.sql("select * from input_text").toPandas()

   text_id           raw_text
0        1  I have an orange.
1        2   I like an apple.